<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Careers</h2>
                <hr class="light">
                <p class="text-faded">Check our LinkedIn page for current job opportunities!</p>
                <a href="#" class="btn btn-default btn-xl">Join us!>https://www.linkedin.com/company/77864899/</a>h
            </div>
        </div>
    </div>
</section>
