<section class="no-padding" id="portfolio">
          <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">The Team</h2>
                <hr class="primary">
                <p>Something cool about us: e.g. our common passions include making clouds, riding motorcycles in the rain and pigeon post</p>
            </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                               Hi, my name is
                            </div>
                            <div class="project-name">
                                Team member
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hi, my name is
                            </div>
                            <div class="project-name">
                                Team member
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Hi, my name is
                            </div>
                            <div class="project-name">
                               Team member
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="container">
        <div class="row">
            <div class="text-center">
                <hr class="primary">
               </div>
          </div>
</div>
                    
