<section class="no-padding" id="services">
  <div class="container">
   <img src="img/linebreak.jpg class="img-fluid" alt="Responsive image">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"Our Values</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Owndership</h3>
                    <p class="text-muted">We are all part of one company. Everything we do is for the benefit of the company, therefore all of the employees. 
We care about the clarity of ownership. Owners take responsibility to make things happen.
Company objectives are clear to everyone therefore are serving the foundation for decision making.
Everyone is encouraged to bring up things that are not going well and empowered to call for change.
</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Candor</h3>
                    <p class="text-muted">We are honest. We build trust through constant timely feedback. Our organisational structure supports and encourages candor. We are frank but oppose any form of discrimination. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Transparency</h3>
                    <p class="text-muted">We have open KPI policy - all data for our games is available for all employees of the company. Leadership is transparent on running costs and plans for growth. We encourage transparency of employees towards the company - share thoughts and be open on your plans.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Having fun at work</h3>
                    <p class="text-muted">Making games is fun. You are accountable for the way you work, there are little rules around it. We want players to enjoy their experiences in our games as much as we enjoy creating games. Everyone is expected to do the best to provide value for the company, your responsibility is to choose how you want to work to achieve that. </p>
                </div>
            </div>
        </div>
    </div>
</section>
